.Container{
    width: 100%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContainerPosts{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.PostItem{
    display: flex;
    flex-direction: column;
    h1{
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: .5rem;
        color:#F8F8F8;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        color:#D7D7D7;
    }
}

.PostItem:hover{
    h1{
        color:#FF57B2;
    }
}

.ContainerPostAuthor_Date{
    display: flex;
    gap: 1.75rem;
}

.ContentInfo{
    display: flex;
    gap: .5rem;
    color:#BBBBBB;
}

.ContainerBtn{
    max-width: 800px;
    width: 100%;
    margin:4rem 0;
}

.btn{
    font-size: 1.125rem;
    font-weight: 600;
    color: #FF57B2;
    cursor: pointer;
    &:hover{
        filter: brightness(.6);
    }
}